In [2]:
a=4
b=5
c=a/b

In [3]:
3*4

12

In [4]:
a=4
b=5
c=a/b

In [5]:
a=4
b=5
c=a/b
print c

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(c)? (2774471163.py, line 4)

In [6]:
a=4
b=5
c=a/b
print(C)

NameError: name 'C' is not defined

In [7]:
a=4
b=5
c=a/b
print(c)

0.8

In [8]:
a=4
b=5
c=a//b
print(c)

0

In [9]:
4**2

16

In [10]:
s1="nikita"
s2="kashyap"
print(s1+s2)

nikitakashyap

In [11]:
a=input("enter a value: ")
s=0
p=""
for i in range (1,int(a)+1):
    p=a*i
    n1=int(p)
    s=s+n1
print(s)

def new_string(str):
    if len(str)>=2 and str[:2]=="Is":
        return str
    return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

enter a value: 5
61725
IsArray
IsEmpty

In [12]:
a=input("enter a value: ")
s=0
p=""
for i in range (1,int(a)+1):
    p=a*i
    n1=int(p)
    s=s+n1
print(s)

def new_string(str):
    if len(str)>=2 and str[:2]=="Is":
        return str
    return "Is" + str

print(new_string("Array"))
print(new_string("IsEmpty"))

enter a value: nikita

ValueError: invalid literal for int() with base 10: 'nikita'

In [13]:
a=input("enter a value: ")
s=0
p=""
for i in range (1,int(a)+1):
    p=a*i
    n1=int(p)
    s=s+n1
print(s)

enter a value: 3 6 2 7 9

ValueError: invalid literal for int() with base 10: '3 6 2 7 9'

In [14]:
a=input("enter a value: ")
s=0
p=""
for i in range (1,int(a)+1):
    p=a*i
    n1=int(p)
    s=s+n1
print(s)

enter a value: 2
24

In [1]:
import numpy as np
import matplotlib.pyplot as plt
MTH=np.array([80,85,90,95,99,56,98,67,45,45,65,98,48,69,98,48])                                                                                                                    ])
ENG=np.array([78,79,37,46,68,92,74,95,22,39,77,98,84,99,45,50])
plt.plot(MTH,ENG)
plt.show()

SyntaxError: unmatched ']' (3822458666.py, line 3)

In [2]:
import numpy as np
import matplotlib.pyplot as plt
MTH=np.array([30,35,40,45,50,55,60,65,70,80,85,90,95,100])                                                                                                                    ])
ENG=np.array([30,35,40,45,50,55,60,65,70,75,80,85,95,100])
COM=np.array([30,35,40,45,50,55,60,65,70,80,85,90,95,100])
plt.plot(MTH,ENG,COM)
plt.show()

SyntaxError: unmatched ']' (2123647096.py, line 3)

# import numpy as np
import matplotlib.pyplot as plt
MTH=np.array([30,35,40,45,50,55,60,65,70,80,85,90,95,100])                                                                                                                    ])
ENG=np.array([30,35,40,45,50,55,60,65,70,75,80,85,95,100])
COM=np.array([30,35,40,45,50,55,60,65,70,80,85,90,95,100])
plt.scatter(MTH,ENG,COM)
plt.show()